*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: #f1f1f1;
}

.container{
    width: 80%;
  /*  background-color: blue;*/
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Navbar{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu ul{
    list-style: none;
    display: flex;
}

.Menu ul li a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

a.hover{
    color: grey;
}