
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: Poppins ;
}

.container{
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu ul{
    list-style: none;
    display: flex;
}

.Menu ul li a {
    margin: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Menu ul li a:hover{
    color: orange;
    transform: translateZ(5px);
}

.header-Text-Container{
    text-align: left;
    padding: 20px;
    margin: auto;
    padding-top: 50px;
    padding-left: 150px;
    display: flex;
}

.pre-heading{
    color: orange;
    padding-bottom: 20px;
    flex : 1;
}

.post-heading{
    padding-top: 20px;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

p {
    font-size: 1em;
    font-weight: bold   ;
}

.showcase{
    display: flex;
}